- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize
  = link_to 'Tickets', user_tickets_path(@user), :class => 'btn btn-primary'

%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @user.email
- if @user.referrer_id
  %p
    %strong= model_class.human_attribute_name(:referrer_id) + ':'
    %br
    = @user.referrer
.well
  - if @user.referrals.any?
    - @user.referrals.each do |ref|
      %li.label.label-info= ref
  - ref = @user.referrals.build
  = simple_form_for ref, :url => user_invite_path(@user) do |f|
    = f.input :email
    = f.button :submit, 'Invite', :class => 'btn-primary'
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
