= simple_form_for [@ticket.user, @ticket], :html => { :class => 'form-horizontal' } do |f|
  = f.input :user_id
  = f.input :key
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), user_tickets_path, :class => 'btn'
